##
## $Source$
## $Revision$
##
## Copyright (C) 2000 William Chesters
##
## Part of Melati (http://melati.org), a framework for the rapid
## development of clean, maintainable web applications.
##
## Melati is free software; Permission is granted to copy, distribute
## and/or modify this software under the terms either:
##
## (a) the GNU General Public License as published by the Free Software
##    Foundation; either version 2 of the License, or (at your option)
##    any later version,
##
##    or
##
## (b) any version of the Melati Software License, as published
##    at http://melati.org
##
## You should have received a copy of the GNU General Public License and
## the Melati Software License along with this program;
## if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA to obtain the
## GNU General Public License and visit http://melati.org to obtain the
## Melati Software License.
##
## Feel free to contact the Developers of Melati (http://melati.org),
## if you would like to work out a different arrangement than the options
## outlined here.  It is our intention to allow Melati to be used by as
## wide an audience as possible.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## Contact details for copyright holder:
##
##     William Chesters <williamc At paneris.org>
##     http://paneris.org/~williamc
##     Obrechtstraat 114, 2517VX Den Haag, The Netherlands
##

<input type=hidden name="field_$ml.rendered($field.Name)-adaptor"
       value="org.melati.template.YMDHMSTimestampAdaptor" />

#set( $yearField = $melati.Config.YMDHMSTimestampAdaptor.yearField($field) )
#set( $monthField = $melati.Config.YMDHMSTimestampAdaptor.monthField($field) )
#set( $dayField = $melati.Config.YMDHMSTimestampAdaptor.dayField($field) )
#set( $hourField = $melati.Config.YMDHMSTimestampAdaptor.hourField($field) )
#set( $minuteField = $melati.Config.YMDHMSTimestampAdaptor.minuteField($field) )
#set( $secondField = $melati.Config.YMDHMSTimestampAdaptor.secondField($field) )

<select name="field_$ml.rendered($dayField.Name)"
#if( $field.Description )
        title="$field.Description"
#end
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($yearField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($monthField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($hourField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($secondField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($yearField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($yearField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($monthField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($monthField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($hourField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($hourField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($minuteField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($secondField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($secondField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $dayField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($dayField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</option>
  #end
</select>


<select name="field_$ml.rendered($monthField.Name)"
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($yearField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($dayField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($hourField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($secondField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($yearField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($yearField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($dayField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($dayField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($hourField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($hourField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($minuteField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($secondField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($secondField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $monthField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($monthField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</option>
  #end
</select>

<select name="field_$ml.rendered($yearField.Name)"
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($monthField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($dayField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($hourField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($secondField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($monthField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($monthField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($dayField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($dayField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($hourField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($hourField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($minuteField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($secondField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($secondField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $yearField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($yearField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</OPTION>
  #end
</select>




<select name="field_$ml.rendered($hourField.Name)"
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($yearField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($monthField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($dayField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($secondField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($yearField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($yearField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($monthField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($monthField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($dayField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($dayField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($minuteField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($secondField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($secondField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $hourField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($hourField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</option>
  #end
</select>
:
<select name="field_$ml.rendered($minuteField.Name)"
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($yearField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($monthField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($dayField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($hourField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($secondField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($yearField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($yearField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($monthField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($monthField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($dayField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($dayField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($hourField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($hourField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($secondField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($secondField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $minuteField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($minuteField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</OPTION>
  #end
</select>
:
<select name="field_$ml.rendered($secondField.Name)"
  #if( $field.Type.Nullable )
    onchange="if (selectedIndex == 0) \{
		form['field_$ml.rendered($yearField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($monthField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($dayField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($hourField.Name)'].selectedIndex = 0;
		form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 0;
	      \}
	      else \{
		if (form['field_$ml.rendered($yearField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($yearField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($monthField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($monthField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($dayField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($dayField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($hourField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($hourField.Name)'].selectedIndex = 1;
		if (form['field_$ml.rendered($minuteField.Name)'].selectedIndex == 0)
		  form['field_$ml.rendered($minuteField.Name)'].selectedIndex = 1;
	      \}"
  #end
>
  #foreach( $poss in $secondField.First1000Possibilities )
    <option value="$ml.Attr.rendered($poss.RawString)"
      #if( $poss.sameRawAs($secondField) )
        selected="selected"
      #end
    >
      #if( $poss.RawString.equals("") && $nullValue )
        $ml.rendered($nullValue)
     #else
        $ml.rendered($poss)
      #end
    &nbsp;</option>
  #end
</select>



