#set( $admin = $melati.getContextUtil("org.melati.admin.AdminUtils") )
#set( $ml = $melati.MarkupLanguage  )
<font face='Arial, Helvetica' size='1'>&nbsp; <a href='$admin.RecordURL($object.Data,"parent.parent.parent.admin_bottom.admin_left.admin_selection","$ml.encoded($admin.TreeURL($object.Data.Table))")' target='admin_record' title='Edit the $ml.rendered($object.Data.Table) record $ml.rendered($object.Data)' class='node'>$ml.rendered($object.Data.displayString())<\\/a><\\/font>