# 
# ================================
#  Melati main configuration file
# ================================
# 

#
# -------------------------------
#  Which login mechanism to use?
# -------------------------------
#

# This one is based on servlet sessions (cookies)

org.melati.MelatiServlet.accessHandler=org.melati.login.HttpSessionAccessHandler

# This one is based on HTTP Basic Authentication

# org.melati.MelatiServlet.accessHandler=org.melati.login.HttpBasicAuthenticationAccessHandler

#
# -------------------------------
#  Which template engine to use?
# -------------------------------
#

#org.melati.MelatiServlet.templateEngine=org.melati.template.NoTemplateEngine
org.melati.MelatiServlet.templateEngine=org.melati.template.webmacro.WebmacroTemplateEngine
#org.melati.MelatiServlet.templateEngine=org.melati.template.jtemplater.JTemplaterTemplateEngine

#
# --------------------------------------------
#  Where to look for Melati's static content?
# --------------------------------------------
# 

# This should point, relative to your server's http root, to this directory.
# e.g. ln -s /usr/local/melati/org/melati /usr/local/apache/htdocs/melati-static

org.melati.MelatiServlet.staticURL=/melati-static/templets/html

# This should point, relative to your server's http root, to templets/html
# (will be achieved by the ln -s suggested above)

org.melati.MelatiServlet.javascriptLibraryURL=/melati-static/template/webmacro/templets/html

#
# ------------------------------
#  How to handle uploaded files?
# ------------------------------
# 

# This one reads all uploaded data into memory.

org.melati.MelatiServlet.formDataAdaptorFactory=org.melati.servlet.MemoryDataAdaptorFactory

# This one saves them in a directory named by the ``UploadDir''
# entry in the database's Setting table (and calculates its
# URL from the ``UploadURL'' Setting)

#org.melati.MelatiServlet.formDataAdaptorFactory=org.melati.servlet.PoemFileDataAdaptorFactory

# This one saves them as temporary files (deleted with the JVM quits)

#org.melati.MelatiServlet.formDataAdaptorFactory=org.melati.servlet.TemporaryFileDataAdaptorFactory

