/******************************Change Log********************************
/ $Revision$
/************************************************************************/
/* Built in HTML Elements */

BODY {
  COLOR: #aa3300; 
}

.created {
  background-color: lime;
  COLOR: #aa3300; 
}


