/******************************Change Log********************************
/ $Revision$
/************************************************************************/
/* Built in HTML Elements */

BODY {
  COLOR: #aa3300;
  background-color: white;
}

PRE { 
  border: 1px solid #999999;
  margin: 2px;
  padding: 5px;
  color: #333333;
  font-family: monospace;
}

h1 { 
  background-color: #ffb901;
  COLOR: #b42d00;
}
h2 { 
  background-color: #ffb901;
  COLOR: #b42d00;
}
h3 { 
  background-color: #f97f00;
  COLOR: #FFeeee; 
}
h4 { 
  background-color: #f97f00;
  COLOR: #b42d00;
}
#navcolumn h5 { 
  background-color: #f97f00;
  padding-left: 3px;
  COLOR: #b42d00;
}
h6 { 
  background-color: #f97f00;
  COLOR: #b42d00;
}

#banner { 
  background-color: #ffffff;
  COLOR: #b42d00;
}

#breadcrumbs { 
  background-color: #ffb901;
  COLOR: #b42d00;
}

#leftColumn {
  background-color: #fdf475;
  COLOR: #b42d00;
} 

.created {
  COLOR: #aa3300;
  background-color: lime;
}

table.bodyTable th {
  background-color: #f97f00;
}

table.bodyTable tr.a {
  background-color: #ffb901;
  color: #b42d00;
}

table.bodyTable tr.b {
  background-color: #fdf475;
}
