/******************************Change Log********************************
/ $Revision$
/************************************************************************/
/* Built in HTML Elements */

BODY {
  COLOR: #aa3300; 
  background-color: white;
}

.created {
  COLOR: #aa3300; 
  background-color: lime;
}

